@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.nav-links::before,
.nav-links::after {
  content: '';
  position: absolute;
  background-color: #475569;
  height: 1px;
  width: 0;
  transition: width 200ms ease-in-out;
  transform-origin: center;
  bottom: 0;
}

.nav-links:hover::before,
.nav-links:hover::after {
  width: 50%;
}

.kode-mono {
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.dm-sans {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
