@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-links::before,
.nav-links::after {
  content: '';
  position: absolute;
  background-color: #475569;
  height: 1px;
  width: 0;
  transition: width 200ms ease-in-out;
  transform-origin: center;
  bottom: 0;
}

.nav-links:hover::before,
.nav-links:hover::after {
  width: 50%;
}